 
// Layout_Offline
// ––––––––––––––––––––––––––––––––––––––––––––––––––

#main-layout-offline
    background: #FAFAFA
    margin: 0 auto
    padding: 0
    overflow-y: auto

#mdl-grid-layout-offline
    height: 100vh
    padding : 0