<ul class="demo-list-item mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Menu à la Playstore pour settings
      <br/> - Mode edition et Mode lecture seule pour consultation
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    - Icone de couleur menu side
    - Icone à gauche plutôt que a gauche
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
     Responsive dataTable
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Classe qui créé des indicateurs.
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Chat one o one and notifications in real-time with Websockets
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Captcha (create public key and private key on google.com)
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Déploiement auto avec nom de domaine + hebergement
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Simplification du code 
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Classe qui créé des formulaires sécurisés.
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Classe qui créé des tabs
    </span>
  </li>
</ul>
