<ul class="demo-list-item mdl-list">
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Menu à la Playstore pour settings
      <br/>  -  Soumission du formulaire et contrôle
      <br /> - Pas de border  pour le dernier element
      <br /> - enlever le padding-right pour le bouton save
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
    - Icone de couleur menu side + Avatar rond
    - Hover sur le menu dans lequel on est
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
     Responsive dataTable et faire comme le menu pour l'utilisation du template
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Classe qui créé des indicateurs pour le dashboard, classé par catégorie
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Chat one o one and notifications in real-time with Websockets
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Captcha (create public key and private key on google.com)
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Déploiement auto avec nom de domaine + hebergement
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Simplification et optimisation du code 
    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Panel admin pour créer des nouvelles routes, des formulaires,des nouveaux models de données, controler l'appli (utilisateur, etc ...)

    </span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Classe qui créé des tabs
    </span>
  </li>
</ul>
