
// More
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.mdl-layout__tab-bar
  z-index: -10 !important

.material-icons-io
  padding-top: 0 !important

.icons-side-menu
  float: left
  margin-right: 20px

.page-content
  padding: 25px

table
  width: 100%

table > thead > tr > th:not(.no-left-aligned-th)
  text-align: left !important

.material-icons
  padding-top: 25%

#mobile-side-menu-nav-2
  padding-top: 0
  border-top: lightgrey solid 1px

#header-row-layout-online
  padding-right: 5px