<form method="POST" action="/forgotpassword" id="forgotpassword-form">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" ><i class="material-icons material-icons-io" style="margin-right:20px">vpn_key</i> Forgot your password ? </h2>
    
    </div>
  <div class="mdl-card__supporting-text">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, leo et sagittis posuere, nisi metus efficitur dolor, id efficitur lacus nisi ac nisi. Suspendisse imperdiet nec libero at dapibus. Praesent eu justo sed odio gravida tincidunt nec vitae mauris. Curabitur velit libero, aliquet ac finibus quis, consequat a dui.</p>
    <div class="mdl-textfield mdl-js-textfield forgotpassword-textfield">
      <input class="mdl-textfield__input" type="text" id="usernameField" name="user[username]">
      <label class="mdl-textfield__label" for="usernameField">E-mail address</label>
    </div>
  </div><br/>
  <div class="mdl-card__actions mdl-card--border">
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="Send e-mail">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="float:right;" href="/">
      Back
    </a>
  </div>
</form>
<style>
#mydiv{
  top: 30% !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  #mydiv{
    top: 25% !important;
  }
}
</style>