<form method="POST" action="/forgotpassword" id="forgotpassword-form">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" ><i class="material-icons material-icons-io material-icons-registrations">vpn_key</i> Forgot your password ? </h2>
    
    </div>
  <div class="mdl-card__supporting-text">
  <p>Please enter your e-mail address and consult your mailbox after submission.</p>
    <div class="mdl-textfield mdl-js-textfield forgotpassword-textfield">
      <input class="mdl-textfield__input" type="text" id="usernameField" name="user[username]">
      <label class="mdl-textfield__label" for="usernameField">E-mail address</label>
    </div>
  </div><br/>
  <div class="mdl-card__actions mdl-card--border">
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="Send e-mail">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button-registrations-backtologin" href="/">
      Back
    </a>
  </div>
</form>
