<form method="POST" action="/forgotpassword">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" ><i class="material-icons material-icons-io" style="margin-right:20px">vpn_key</i> Forgot your password ? </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="usernameField" name="user[username]">
      <label class="mdl-textfield__label" for="usernameField">E-mail address</label>
    </div>
  </div><br/>
  <div class="mdl-card__actions mdl-card--border">
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="Send e-mail">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="float:right;" href="/">
      Back to login page
    </a>
  </div>
</form>
