<form method="POST" action="/register" id="signup-form">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" ><i class="material-icons material-icons-io material-icons-registrations">flight_land</i> Sign-up form </h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield signup-textfield">
      <input class="mdl-textfield__input" type="text" id="usernameField" name="user[username]">
      <label class="mdl-textfield__label" for="usernameField">E-mail address</label>
    </div><br/>
    <div class="mdl-textfield mdl-js-textfield signup-textfield">
      <input class="mdl-textfield__input" type="password" id="passwordField" name="user[password]">
      <label class="mdl-textfield__label" for="passwordField">Password</label>
    </div><br/>
    <div class="mdl-textfield mdl-js-textfield signup-textfield">
      <input class="mdl-textfield__input" type="password" id="repasswordField" name="user[rpassword]">
      <label class="mdl-textfield__label" for="repasswordField">Re-type password</label>
    </div><br/>
    <div id="container-bottom-signup-form">
    <div class="mdl-textfield mdl-js-textfield signup-textfield">
        <%= recaptcha_tags %>
    </div>
    </div>
  </div><br/>
  <div class="mdl-card__actions mdl-card--border">
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="Sign-up">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button-registrations-backtologin" href="/">
      Back
    </a>
  </div>
</form>