
// DataTables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

#sample3
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

#sample3 + label 
    cursor: pointer

#data-tables-more-buttton
    float: right

#data-tables-more-button-icon
    padding-top: 0

#data-tables-download-button
    float: right !important

#data-tables-save-button
    float: right !important