<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
     <div class="page-content">
       <div class="demo-card-square mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Your Profile</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form action="#">
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="text" id="sample3">
                 <label class="mdl-textfield__label" for="sample3"> Your username (actually )</label>
               </div><br/>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="text" id="sample3">
                 <label class="mdl-textfield__label" for="sample3">Your phone number</label>
               </div><br/>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="text" id="sample3">
                 <label class="mdl-textfield__label" for="sample3">Your e-mail adress</label>
               </div><br/>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="text" id="sample3">
                 <label class="mdl-textfield__label" for="sample3">Your ZIP code</label>
               </div><br/>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="text" id="sample3">
                 <label class="mdl-textfield__label" for="sample3">Your city</label>
               </div><br/>
             </form>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Save
            </a>
          </div>
        </div><br/>
       <div class="demo-card-square mdl-card mdl-shadow--2dp">
           <div class="mdl-card__title mdl-card--expand">
             <h2 class="mdl-card__title-text">Manage Password</h2>
           </div>
           <div class="mdl-card__supporting-text">
             <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="password" id="sample3">
                  <label class="mdl-textfield__label" for="sample3">Enter a new password</label>
                </div><br/>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="password" id="sample3">
                  <label class="mdl-textfield__label" for="sample3">Retype your new password</label>
                </div><br/>
              </form>
           </div>
           <div class="mdl-card__actions mdl-card--border">
             <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
               Save
             </a>
           </div>
         </div>
     </div>
</section>
<section class="mdl-layout__tab-panel" id="fixed-tab-2">
     <div class="page-content">
       <ul class="demo-list-control mdl-list">
         <li class="mdl-list__item">
           <span class="mdl-list__item-primary-content span-settings-list-item">
             <i class="material-icons span-settings-list-item-icon">notifications_active</i>
             Let the app send push notifications
           </span>
           <span class="mdl-list__item-secondary-action">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
              <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
            </label>
          </span>
         </li>
        </ul>
     </div>
</section>
<style>
.demo-card-square.mdl-card{
  width: 100%;
  height: auto;
}
.mdl-card__supporting-text{
  width:100%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('http://hdqwalls.com/wallpapers/material-design-4k.jpg') bottom right 50% no-repeat #46B6AC;
}
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
{
  width: 90%;
}
.demo-list-control {
  width: 100%;
}

.span-settings-list-item
{
  display: inline;
}
.span-settings-list-item-icon
{
  font-size: 48px;
  vertical-align: middle;
  padding-top: 0px;
  margin-right: 50px;
  color:purple;
}
</style>
