<section class="mdl-layout__tab-panel is-active" id="fixed-tab-2">    
  <h2 class="mdl-card__title-text"> General </h2><br/>
  <form action="appsettings/setAppNotifications" method="POST">
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content span-settings-list-item">
          <i class="material-icons span-settings-list-item-icon">notifications_active</i>
          Let the app send push notifications
        </span>
        <span class="mdl-list__item-secondary-action">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="settings-appnotifications-checkbox">
          <input type="checkbox" name="settings[appnotifications]" id="settings-appnotifications-checkbox" class="mdl-switch__input" <%= (!@settings.nil? and @settings.appnotifications == 'on') ? 'checked' : '' %> />
        </label>
        </span>
        <input type="submit" id="settings-appnotifications-submit-hidden">
    </li>
  </form>
</section>
<script type="text/javascript">
$(function(){
  $("#settings-appnotifications-checkbox").change(function() {
    $("#settings-appnotifications-submit-hidden").click();
  });
});
</script>
