<head>
  <link rel="stylesheet" type="text/css" href="<%= url('./stylesheets/milligram.css') %>">
  <title>Sinatra Sample App</title>
</head>

<body>
  <div id="main">
   <div class="row" id="layout-colored-row-1">
   </div>
       <%= yield %>
   <div class="row" id="layout-colored-row-2">
   </div>
  </div>
</body>
