
// Registrations
// ––––––––––––––––––––––––––––––––––––––––––––––––––

#login-form,
#signup-form,
#forgotpassword-form
    margin-bottom: 0 !important
    padding: 15px 15px 5px 15px

.login-textfield,
.signup-textfield,
.forgotpassword-textfield
    width: 100%

#container-bottom-login-form
    width: 100%
    text-align: center

.material-icons-registrations
    margin-right: 20px

.mdl-button-registrations-backtologin
    float: right

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    #login-form,
    #signup-form,
    #forgotpassword-form
        padding: 10px !important

@media screen and (max-width :840px)
    #layout-offline-yield-container > #signup-form > .mdl-card__title
        color:  white
        text-align: center
    #layout-offline-yield-container > #signup-form > .mdl-card__supporting-text > .signup-textfield > input
        color:  white
    #layout-offline-yield-container > #signup-form > .mdl-card__supporting-text > .mdl-textfield.mdl-js-textfield > .mdl-textfield__label
        color:  rgba(255,255,255,0.8)
    #layout-offline-yield-container > #signup-form > .mdl-card__supporting-text > #container-bottom-signup-form > .mdl-textfield.mdl-js-textfield > .mdl-switch.mdl-js-switch.mdl-js-ripple-effect > span
        color:  white
    #layout-offline-yield-container > #signup-form > .mdl-card__supporting-text > #container-bottom-signup-form > .mdl-textfield.mdl-js-textfield > a
        color:  white
    #main-layout-offline
        background: #6a00ff
    #layout-offline-yield-container > #signup-form > .mdl-card__supporting-text > #container-bottom-signup-form > .mdl-textfield.mdl-js-textfield > .mdl-switch.mdl-js-switch.mdl-js-ripple-effect.is-upgraded.is-checked > .mdl-switch__track
        background: rgba(255,255,255, 0.5)
    #layout-offline-yield-container > #signup-form > .mdl-card__supporting-text > #container-bottom-signup-form > .mdl-textfield.mdl-js-textfield > .mdl-switch.mdl-js-switch.mdl-js-ripple-effect.is-upgraded.is-checked > .mdl-switch__thumb
        background: rgb(255,255,255)
    #container-bottom-signup-form > .mdl-textfield.mdl-js-textfield.signup-textfield
        text-align: center

    